{% extends "base.html" %}

{% block content %}
  <h1>Search Results</h1>

  {% if query %}
    <h2>Results for "{{ query }}"</h2>
  {% endif %}

  {% if page.object_list %}
    {% for result in page.object_list %}
      <div class="result">
	{% if result.content_type == "tweet.content" %}
  		<p>Tweet: {{ result.object.content }}</p>
	{% elif result.content_type == "hashtag.name" %}
		<p>Hashtag: {{ result.object.name }}</p>
	{% endif %}
      </div>
    {% endfor %}

    {% include "pagination.html" %}
  {% else %}
    <p>No results found.</p>
  {% endif %}
{% endblock %}

