{% load notifications %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Twitclone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_tweet_new' %}">Add tweet</a>
        </li>
	<li class="nav-item">
	{% if user.notifications.unread %}
		<a class="nav-link" href="{% url 'notifications' %}">Notifications ({{ user.notifications.unread|unread_notification_count }})</a>
	{% else %}
		<a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
	{% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline" method="get" action="{% url 'haystack_search' %}">
    	<input class="form-control" type="search" name="q" placeholder="Search">
	<button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
